# [bakan]

In [0]:
USE [master]
GO

In [0]:
/****** Object:  Database [bakan]    Script Date: 3.09.2023 08:59:07 ******/
CREATE DATABASE [bakan]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bakan', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\bakan.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'bakan_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\bakan_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
ALTER DATABASE [bakan] SET COMPATIBILITY_LEVEL = 160
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bakan].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
ALTER DATABASE [bakan] SET ANSI_NULL_DEFAULT OFF 
GO
ALTER DATABASE [bakan] SET ANSI_NULLS OFF 
GO
ALTER DATABASE [bakan] SET ANSI_PADDING OFF 
GO
ALTER DATABASE [bakan] SET ANSI_WARNINGS OFF 
GO
ALTER DATABASE [bakan] SET ARITHABORT OFF 
GO
ALTER DATABASE [bakan] SET AUTO_CLOSE ON 
GO
ALTER DATABASE [bakan] SET AUTO_SHRINK OFF 
GO
ALTER DATABASE [bakan] SET AUTO_UPDATE_STATISTICS ON 
GO
ALTER DATABASE [bakan] SET CURSOR_CLOSE_ON_COMMIT OFF 
GO
ALTER DATABASE [bakan] SET CURSOR_DEFAULT  GLOBAL 
GO
ALTER DATABASE [bakan] SET CONCAT_NULL_YIELDS_NULL OFF 
GO
ALTER DATABASE [bakan] SET NUMERIC_ROUNDABORT OFF 
GO
ALTER DATABASE [bakan] SET QUOTED_IDENTIFIER OFF 
GO
ALTER DATABASE [bakan] SET RECURSIVE_TRIGGERS OFF 
GO
ALTER DATABASE [bakan] SET  ENABLE_BROKER 
GO
ALTER DATABASE [bakan] SET AUTO_UPDATE_STATISTICS_ASYNC OFF 
GO
ALTER DATABASE [bakan] SET DATE_CORRELATION_OPTIMIZATION OFF 
GO
ALTER DATABASE [bakan] SET TRUSTWORTHY OFF 
GO
ALTER DATABASE [bakan] SET ALLOW_SNAPSHOT_ISOLATION OFF 
GO
ALTER DATABASE [bakan] SET PARAMETERIZATION SIMPLE 
GO
ALTER DATABASE [bakan] SET READ_COMMITTED_SNAPSHOT OFF 
GO
ALTER DATABASE [bakan] SET HONOR_BROKER_PRIORITY OFF 
GO
ALTER DATABASE [bakan] SET RECOVERY SIMPLE 
GO
ALTER DATABASE [bakan] SET  MULTI_USER 
GO
ALTER DATABASE [bakan] SET PAGE_VERIFY CHECKSUM  
GO
ALTER DATABASE [bakan] SET DB_CHAINING OFF 
GO
ALTER DATABASE [bakan] SET FILESTREAM( NON_TRANSACTED_ACCESS = OFF ) 
GO
ALTER DATABASE [bakan] SET TARGET_RECOVERY_TIME = 60 SECONDS 
GO
ALTER DATABASE [bakan] SET DELAYED_DURABILITY = DISABLED 
GO
ALTER DATABASE [bakan] SET ACCELERATED_DATABASE_RECOVERY = OFF  
GO
ALTER DATABASE [bakan] SET QUERY_STORE = ON
GO
ALTER DATABASE [bakan] SET QUERY_STORE (OPERATION_MODE = READ_WRITE, CLEANUP_POLICY = (STALE_QUERY_THRESHOLD_DAYS = 30), DATA_FLUSH_INTERVAL_SECONDS = 900, INTERVAL_LENGTH_MINUTES = 60, MAX_STORAGE_SIZE_MB = 1000, QUERY_CAPTURE_MODE = AUTO, SIZE_BASED_CLEANUP_MODE = AUTO, MAX_PLANS_PER_QUERY = 200, WAIT_STATS_CAPTURE_MODE = ON)
GO

# [dbo].[bakanlik]

In [0]:
USE [bakan]
GO

In [0]:
/****** Object:  Table [dbo].[bakanlik]    Script Date: 3.09.2023 08:59:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bakanlik](
	[bakanlikID] [int] IDENTITY(1,1) NOT NULL,
	[bakanlikAdi] [varchar](50) NULL,
	[daireBaskani] [varchar](50) NULL,
	[bakanlikCiro] [money] NULL,
	[BakanlikMerkez] [varchar](50) NULL,
 CONSTRAINT [PK_bakanlik] PRIMARY KEY CLUSTERED 
(
	[bakanlikID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[EmpLogin]

In [0]:
/****** Object:  Table [dbo].[EmpLogin]    Script Date: 3.09.2023 08:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmpLogin](
	[employeeUser] [varchar](50) NOT NULL,
	[employeePassword] [varchar](50) NOT NULL
) ON [PRIMARY]
GO

# [dbo].[vatandas]

In [0]:
/****** Object:  Table [dbo].[vatandas]    Script Date: 3.09.2023 08:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vatandas](
	[kisiNo] [int] IDENTITY(1,1) NOT NULL,
	[kisiTC] [varchar](11) NULL,
	[KisiMeslek] [varchar](50) NULL,
	[KisiAdres] [varchar](50) NULL,
	[KisiTelefon] [varchar](11) NULL,
	[KisiMail] [varchar](50) NULL,
	[vergiID] [int] NULL,
 CONSTRAINT [PK_vatandas] PRIMARY KEY CLUSTERED 
(
	[kisiNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[vergiler]

In [0]:
/****** Object:  Table [dbo].[vergiler]    Script Date: 3.09.2023 08:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vergiler](
	[vergiID] [int] IDENTITY(1,1) NOT NULL,
	[vergiAdi] [varchar](50) NULL,
	[vergiTipi] [varchar](50) NULL,
	[vergiTutar] [money] NULL,
	[vergiFaiz] [money] NULL,
	[bakanlikID] [int] NULL,
 CONSTRAINT [PK_vergiler] PRIMARY KEY CLUSTERED 
(
	[vergiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[bakanlik]

In [0]:
SET IDENTITY_INSERT [dbo].[bakanlik] ON 
INSERT [dbo].[bakanlik] ([bakanlikID], [bakanlikAdi], [daireBaskani], [bakanlikCiro], [BakanlikMerkez]) VALUES (3, N'Milli Eğitim Bakanlığı', N'Ahmet Yıldız', 5000000.0000, N'Ankara')
INSERT [dbo].[bakanlik] ([bakanlikID], [bakanlikAdi], [daireBaskani], [bakanlikCiro], [BakanlikMerkez]) VALUES (4, N'Sağlık Bakanlığı', N'Fatma Demir', 10000000.0000, N'Ankara')
INSERT [dbo].[bakanlik] ([bakanlikID], [bakanlikAdi], [daireBaskani], [bakanlikCiro], [BakanlikMerkez]) VALUES (5, N'Tarım ve Orman Bakanlığı', N'Mehmet Kaya', 8000000.0000, N'Ankara')
INSERT [dbo].[bakanlik] ([bakanlikID], [bakanlikAdi], [daireBaskani], [bakanlikCiro], [BakanlikMerkez]) VALUES (6, N'Adalet Bakanlığı', N'Ali Öztürk', 6000000.0000, N'Ankara')
INSERT [dbo].[bakanlik] ([bakanlikID], [bakanlikAdi], [daireBaskani], [bakanlikCiro], [BakanlikMerkez]) VALUES (7, N'İçişleri Bakanlığı', N'Süleyman Çelik', 7000000.0000, N'Ankara')
INSERT [dbo].[bakanlik] ([bakanlikID], [bakanlikAdi], [daireBaskani], [bakanlikCiro], [BakanlikMerkez]) VALUES (8, N'Dışişleri Bakanlığı', N'Emine Yılmaz', 9000000.0000, N'Ankara')
INSERT [dbo].[bakanlik] ([bakanlikID], [bakanlikAdi], [daireBaskani], [bakanlikCiro], [BakanlikMerkez]) VALUES (9, N'Ulaştırma ve Altyapı Bakanlığı', N'Murat Demir', 12000000.0000, N'Ankara')
INSERT [dbo].[bakanlik] ([bakanlikID], [bakanlikAdi], [daireBaskani], [bakanlikCiro], [BakanlikMerkez]) VALUES (10, N'Enerji ve Tabii Kaynaklar Bakanlığı', N'Fatih Yıldız', 15000000.0000, N'Ankara')
INSERT [dbo].[bakanlik] ([bakanlikID], [bakanlikAdi], [daireBaskani], [bakanlikCiro], [BakanlikMerkez]) VALUES (11, N'Çevre ve Şehircilik Bakanlığı', N'Zeynep Kaya', 10000000.0000, N'Ankara')
INSERT [dbo].[bakanlik] ([bakanlikID], [bakanlikAdi], [daireBaskani], [bakanlikCiro], [BakanlikMerkez]) VALUES (12, N'Kültür ve Turizm Bakanlığı', N'Ahmet Öztürk', 8000000.0000, N'Ankara')
INSERT [dbo].[bakanlik] ([bakanlikID], [bakanlikAdi], [daireBaskani], [bakanlikCiro], [BakanlikMerkez]) VALUES (13, N'Gençlik ve Spor Bakanlığı', N'Süleyman Yılmaz', 7000000.0000, N'Ankara')
INSERT [dbo].[bakanlik] ([bakanlikID], [bakanlikAdi], [daireBaskani], [bakanlikCiro], [BakanlikMerkez]) VALUES (14, N'Aile, Çalışma ve Sosyal Hizmetler Bakanlığı', N'Emine Çelik', 9000000.0000, N'Ankara')
INSERT [dbo].[bakanlik] ([bakanlikID], [bakanlikAdi], [daireBaskani], [bakanlikCiro], [BakanlikMerkez]) VALUES (15, N'Hazine ve Maliye Bakanlığı', N'Murat Yıldız', 20000000.0000, N'Ankara')
INSERT [dbo].[bakanlik] ([bakanlikID], [bakanlikAdi], [daireBaskani], [bakanlikCiro], [BakanlikMerkez]) VALUES (16, N'Sanayi ve Teknoloji Bakanlığı', N'Zeynep Demir', 11000000.0000, N'Ankara')
INSERT [dbo].[bakanlik] ([bakanlikID], [bakanlikAdi], [daireBaskani], [bakanlikCiro], [BakanlikMerkez]) VALUES (17, N'Milli Savunma Bakanlığı', N'Ali Kaya', 18000000.0000, N'Ankara')
INSERT [dbo].[bakanlik] ([bakanlikID], [bakanlikAdi], [daireBaskani], [bakanlikCiro], [BakanlikMerkez]) VALUES (18, N'Ticaret Bakanlığı', N'Fatma Öztürk', 13000000.0000, N'Ankara')
INSERT [dbo].[bakanlik] ([bakanlikID], [bakanlikAdi], [daireBaskani], [bakanlikCiro], [BakanlikMerkez]) VALUES (19, N'Turizm ve Kültür Bakanlığı', N'Ahmet Çelik', 9000000.0000, N'İstanbul')
INSERT [dbo].[bakanlik] ([bakanlikID], [bakanlikAdi], [daireBaskani], [bakanlikCiro], [BakanlikMerkez]) VALUES (20, N'Orman ve Su İşleri Bakanlığı', N'Süleyman Demir', 10000000.0000, N'İzmir')
INSERT [dbo].[bakanlik] ([bakanlikID], [bakanlikAdi], [daireBaskani], [bakanlikCiro], [BakanlikMerkez]) VALUES (21, N'Bilim, Sanayi ve Teknoloji Bakanlığı', N'Emine Kaya', 12000000.0000, N'Bursa')
INSERT [dbo].[bakanlik] ([bakanlikID], [bakanlikAdi], [daireBaskani], [bakanlikCiro], [BakanlikMerkez]) VALUES (22, N'Gıda, Tarım ve Hayvancılık Bakanlığı', N'Murat Öztürk', 11000000.0000, N'Konya')
SET IDENTITY_INSERT [dbo].[bakanlik] OFF
GO

# [dbo].[EmpLogin]

In [0]:
INSERT [dbo].[EmpLogin] ([employeeUser], [employeePassword]) VALUES (N'seyit', N'123')
GO

# [dbo].[vatandas]

In [0]:
SET IDENTITY_INSERT [dbo].[vatandas] ON 
INSERT [dbo].[vatandas] ([kisiNo], [kisiTC], [KisiMeslek], [KisiAdres], [KisiTelefon], [KisiMail], [vergiID]) VALUES (1, N'14725836901', N'Güvenlik Görevlisi', N'Ankara', N'05251234567', N'ahmet2@gmail.com', 3)
INSERT [dbo].[vatandas] ([kisiNo], [kisiTC], [KisiMeslek], [KisiAdres], [KisiTelefon], [KisiMail], [vergiID]) VALUES (2, N'25836914702', N'Kuaför', N'İstanbul', N'05262345678', N'fatma2@gmail.com', 4)
INSERT [dbo].[vatandas] ([kisiNo], [kisiTC], [KisiMeslek], [KisiAdres], [KisiTelefon], [KisiMail], [vergiID]) VALUES (3, N'36914725803', N'Özel Ders Öğretmeni', N'İzmir', N'05273456789', N'mehmet2@gmail.com', 5)
INSERT [dbo].[vatandas] ([kisiNo], [kisiTC], [KisiMeslek], [KisiAdres], [KisiTelefon], [KisiMail], [vergiID]) VALUES (4, N'47125836904', N'Garson', N'Bursa', N'05284567890', N'ali2@gmail.com', 6)
INSERT [dbo].[vatandas] ([kisiNo], [kisiTC], [KisiMeslek], [KisiAdres], [KisiTelefon], [KisiMail], [vergiID]) VALUES (5, N'58236914705', N'Tur Rehberi', N'Antalya', N'05295678901', N'zeynep2@gmail.com', 7)
INSERT [dbo].[vatandas] ([kisiNo], [kisiTC], [KisiMeslek], [KisiAdres], [KisiTelefon], [KisiMail], [vergiID]) VALUES (6, N'69314725806', N'Veteriner', N'Ankara', N'05306789012', N'emine2@gmail.com', 8)
INSERT [dbo].[vatandas] ([kisiNo], [kisiTC], [KisiMeslek], [KisiAdres], [KisiTelefon], [KisiMail], [vergiID]) VALUES (7, N'71425836907', N'Tercüman', N'İstanbul', N'05317890123', N'murat2@gmail.com', 9)
INSERT [dbo].[vatandas] ([kisiNo], [kisiTC], [KisiMeslek], [KisiAdres], [KisiTelefon], [KisiMail], [vergiID]) VALUES (8, N'82536914708', N'Stilist', N'İzmir', N'05328901234', N'fatih2@gmail.com', 10)
INSERT [dbo].[vatandas] ([kisiNo], [kisiTC], [KisiMeslek], [KisiAdres], [KisiTelefon], [KisiMail], [vergiID]) VALUES (9, N'93614725809', N'Sosyal Medya Uzmanı', N'Bursa', N'05339012345', N'süleyman2@gmail.com', 11)
INSERT [dbo].[vatandas] ([kisiNo], [kisiTC], [KisiMeslek], [KisiAdres], [KisiTelefon], [KisiMail], [vergiID]) VALUES (10, N'4125836910', N'Youtuber', N'Antalya', N'05340123456', N'ayşe2@gmail.com', 12)
INSERT [dbo].[vatandas] ([kisiNo], [kisiTC], [KisiMeslek], [KisiAdres], [KisiTelefon], [KisiMail], [vergiID]) VALUES (11, N'15236914711', N'Müzik Öğretmeni', N'Ankara', N'05351234567', N'deniz2@gmail.com', 13)
INSERT [dbo].[vatandas] ([kisiNo], [kisiTC], [KisiMeslek], [KisiAdres], [KisiTelefon], [KisiMail], [vergiID]) VALUES (12, N'26314725812', N'Resim Öğretmeni', N'İstanbul', N'05362345678', N'eda2@gmail.com', 14)
INSERT [dbo].[vatandas] ([kisiNo], [kisiTC], [KisiMeslek], [KisiAdres], [KisiTelefon], [KisiMail], [vergiID]) VALUES (13, N'37425836913', N'Matematik Öğretmeni', N'İzmir', N'05373456789', N'can2@gmail.com', 15)
INSERT [dbo].[vatandas] ([kisiNo], [kisiTC], [KisiMeslek], [KisiAdres], [KisiTelefon], [KisiMail], [vergiID]) VALUES (14, N'48536914714', N'Fen Bilgisi Öğretmeni', N'Bursa', N'05384567890', N'selin2@gmail.com', 16)
INSERT [dbo].[vatandas] ([kisiNo], [kisiTC], [KisiMeslek], [KisiAdres], [KisiTelefon], [KisiMail], [vergiID]) VALUES (15, N'59614725815', N'Türkçe Öğretmeni', N'Antalya', N'05395678901', N'cem2@gmail.com', 17)
INSERT [dbo].[vatandas] ([kisiNo], [kisiTC], [KisiMeslek], [KisiAdres], [KisiTelefon], [KisiMail], [vergiID]) VALUES (16, N'60725836916', N'Beden Eğitimi Öğretmeni', N'Ankara', N'05406789012', N'serkan2@gmail.com', 18)
INSERT [dbo].[vatandas] ([kisiNo], [kisiTC], [KisiMeslek], [KisiAdres], [KisiTelefon], [KisiMail], [vergiID]) VALUES (17, N'71836914717', N'Satranç Öğretmeni', N'İstanbul', N'05417890123', N'elif2@gmail.com', 19)
INSERT [dbo].[vatandas] ([kisiNo], [kisiTC], [KisiMeslek], [KisiAdres], [KisiTelefon], [KisiMail], [vergiID]) VALUES (18, N'82914725818', N'Piyano Öğretmeni', N'İzmir', N'05428901234', N'mustafa2@gmail.com', 20)
INSERT [dbo].[vatandas] ([kisiNo], [kisiTC], [KisiMeslek], [KisiAdres], [KisiTelefon], [KisiMail], [vergiID]) VALUES (19, N'93125836919', N'Gitar Öğretmeni', N'Bursa', N'05439012345', N'yasemin2@gmail.com', 21)
INSERT [dbo].[vatandas] ([kisiNo], [kisiTC], [KisiMeslek], [KisiAdres], [KisiTelefon], [KisiMail], [vergiID]) VALUES (20, N'4236914720', N'Keman Öğretmeni', N'Antalya', N'05440123456', N'kaan2@gmail.com', 22)
INSERT [dbo].[vatandas] ([kisiNo], [kisiTC], [KisiMeslek], [KisiAdres], [KisiTelefon], [KisiMail], [vergiID]) VALUES (21, N'12345678901', N'Öğretmen', N'Ankara', N'05051234567', N'ahmet@gmail.com', 3)
INSERT [dbo].[vatandas] ([kisiNo], [kisiTC], [KisiMeslek], [KisiAdres], [KisiTelefon], [KisiMail], [vergiID]) VALUES (22, N'23456789012', N'Doktor', N'İstanbul', N'05062345678', N'fatma@gmail.com', 4)
INSERT [dbo].[vatandas] ([kisiNo], [kisiTC], [KisiMeslek], [KisiAdres], [KisiTelefon], [KisiMail], [vergiID]) VALUES (23, N'34567890123', N'Mühendis', N'İzmir', N'05073456789', N'mehmet@gmail.com', 5)
INSERT [dbo].[vatandas] ([kisiNo], [kisiTC], [KisiMeslek], [KisiAdres], [KisiTelefon], [KisiMail], [vergiID]) VALUES (24, N'45678901234', N'Avukat', N'Bursa', N'05084567890', N'ali@gmail.com', 6)
INSERT [dbo].[vatandas] ([kisiNo], [kisiTC], [KisiMeslek], [KisiAdres], [KisiTelefon], [KisiMail], [vergiID]) VALUES (25, N'56789012345', N'Mimar', N'Antalya', N'05095678901', N'zeynep@gmail.com', 7)
INSERT [dbo].[vatandas] ([kisiNo], [kisiTC], [KisiMeslek], [KisiAdres], [KisiTelefon], [KisiMail], [vergiID]) VALUES (26, N'67890123456', N'Hemşire', N'Ankara', N'05106789012', N'emine@gmail.com', 8)
INSERT [dbo].[vatandas] ([kisiNo], [kisiTC], [KisiMeslek], [KisiAdres], [KisiTelefon], [KisiMail], [vergiID]) VALUES (27, N'78901234567', N'Eczacı', N'İstanbul', N'05117890123', N'murat@gmail.com', 9)
INSERT [dbo].[vatandas] ([kisiNo], [kisiTC], [KisiMeslek], [KisiAdres], [KisiTelefon], [KisiMail], [vergiID]) VALUES (28, N'89012345678', N'Pilot', N'İzmir', N'05128901234', N'fatih@gmail.com', 10)
INSERT [dbo].[vatandas] ([kisiNo], [kisiTC], [KisiMeslek], [KisiAdres], [KisiTelefon], [KisiMail], [vergiID]) VALUES (29, N'90123456789', N'Polis', N'Bursa', N'05139012345', N'süleyman@gmail.com', 11)
INSERT [dbo].[vatandas] ([kisiNo], [kisiTC], [KisiMeslek], [KisiAdres], [KisiTelefon], [KisiMail], [vergiID]) VALUES (30, N'1234567890', N'Öğrenci', N'Antalya', N'05140123456', N'ayşe@gmail.com', 12)
INSERT [dbo].[vatandas] ([kisiNo], [kisiTC], [KisiMeslek], [KisiAdres], [KisiTelefon], [KisiMail], [vergiID]) VALUES (31, N'13579246801', N'Gazeteci', N'Ankara', N'05151234567', N'deniz@gmail.com', 13)
INSERT [dbo].[vatandas] ([kisiNo], [kisiTC], [KisiMeslek], [KisiAdres], [KisiTelefon], [KisiMail], [vergiID]) VALUES (32, N'24680135792', N'Sanatçı', N'İstanbul', N'05162345678', N'eda@gmail.com', 14)
INSERT [dbo].[vatandas] ([kisiNo], [kisiTC], [KisiMeslek], [KisiAdres], [KisiTelefon], [KisiMail], [vergiID]) VALUES (33, N'35792468013', N'Psikolog', N'İzmir', N'05173456789', N'can@gmail.com', 15)
INSERT [dbo].[vatandas] ([kisiNo], [kisiTC], [KisiMeslek], [KisiAdres], [KisiTelefon], [KisiMail], [vergiID]) VALUES (34, N'46813579246', N'Diş Hekimi', N'Bursa', N'05184567890', N'selin@gmail.com', 16)
INSERT [dbo].[vatandas] ([kisiNo], [kisiTC], [KisiMeslek], [KisiAdres], [KisiTelefon], [KisiMail], [vergiID]) VALUES (35, N'57924681357', N'Yazar', N'Antalya', N'05195678901', N'cem@gmail.com', 17)
INSERT [dbo].[vatandas] ([kisiNo], [kisiTC], [KisiMeslek], [KisiAdres], [KisiTelefon], [KisiMail], [vergiID]) VALUES (36, N'68013579246', N'Şoför', N'Ankara', N'05206789012', N'serkan@gmail.com', 18)
INSERT [dbo].[vatandas] ([kisiNo], [kisiTC], [KisiMeslek], [KisiAdres], [KisiTelefon], [KisiMail], [vergiID]) VALUES (37, N'79124681357', N'Aşçı', N'İstanbul', N'05217890123', N'elif@gmail.com', 19)
INSERT [dbo].[vatandas] ([kisiNo], [kisiTC], [KisiMeslek], [KisiAdres], [KisiTelefon], [KisiMail], [vergiID]) VALUES (38, N'80235792468', N'Berber', N'İzmir', N'05228901234', N'mustafa@gmail.com', 20)
INSERT [dbo].[vatandas] ([kisiNo], [kisiTC], [KisiMeslek], [KisiAdres], [KisiTelefon], [KisiMail], [vergiID]) VALUES (39, N'91346813579', N'Dansçı', N'Bursa', N'05239012345', N'yasemin@gmail.com', 21)
INSERT [dbo].[vatandas] ([kisiNo], [kisiTC], [KisiMeslek], [KisiAdres], [KisiTelefon], [KisiMail], [vergiID]) VALUES (40, N'2457924680', N'Sporcu', N'Antalya', N'05240123456', N'kaan@gmail.com', 22)
SET IDENTITY_INSERT [dbo].[vatandas] OFF
GO

# [dbo].[vergiler]

In [0]:
SET IDENTITY_INSERT [dbo].[vergiler] ON 
INSERT [dbo].[vergiler] ([vergiID], [vergiAdi], [vergiTipi], [vergiTutar], [vergiFaiz], [bakanlikID]) VALUES (3, N'Gelir Vergisi', N'Mükellef', 1000.0000, 50.0000, 3)
INSERT [dbo].[vergiler] ([vergiID], [vergiAdi], [vergiTipi], [vergiTutar], [vergiFaiz], [bakanlikID]) VALUES (4, N'Kurumlar Vergisi', N'Kurum', 5000.0000, 250.0000, 4)
INSERT [dbo].[vergiler] ([vergiID], [vergiAdi], [vergiTipi], [vergiTutar], [vergiFaiz], [bakanlikID]) VALUES (5, N'Katma Değer Vergisi', N'Tüketici', 2000.0000, 100.0000, 5)
INSERT [dbo].[vergiler] ([vergiID], [vergiAdi], [vergiTipi], [vergiTutar], [vergiFaiz], [bakanlikID]) VALUES (6, N'Özel Tüketim Vergisi', N'Tüketici', 3000.0000, 150.0000, 6)
INSERT [dbo].[vergiler] ([vergiID], [vergiAdi], [vergiTipi], [vergiTutar], [vergiFaiz], [bakanlikID]) VALUES (7, N'Damga Vergisi', N'Mükellef', 500.0000, 25.0000, 7)
INSERT [dbo].[vergiler] ([vergiID], [vergiAdi], [vergiTipi], [vergiTutar], [vergiFaiz], [bakanlikID]) VALUES (8, N'Motorlu Taşıtlar Vergisi', N'Araç Sahibi', 1000.0000, 50.0000, 8)
INSERT [dbo].[vergiler] ([vergiID], [vergiAdi], [vergiTipi], [vergiTutar], [vergiFaiz], [bakanlikID]) VALUES (9, N'Emlak Vergisi', N'Gayrimenkul Sahibi', 2000.0000, 100.0000, 9)
INSERT [dbo].[vergiler] ([vergiID], [vergiAdi], [vergiTipi], [vergiTutar], [vergiFaiz], [bakanlikID]) VALUES (10, N'Çevre Temizlik Vergisi', N'Gayrimenkul Sahibi', 500.0000, 25.0000, 10)
INSERT [dbo].[vergiler] ([vergiID], [vergiAdi], [vergiTipi], [vergiTutar], [vergiFaiz], [bakanlikID]) VALUES (11, N'Banka ve Sigorta Muameleleri Vergisi', N'Müşteri', 1000.0000, 50.0000, 11)
INSERT [dbo].[vergiler] ([vergiID], [vergiAdi], [vergiTipi], [vergiTutar], [vergiFaiz], [bakanlikID]) VALUES (12, N'Harçlar', N'Mükellef', 500.0000, 25.0000, 12)
INSERT [dbo].[vergiler] ([vergiID], [vergiAdi], [vergiTipi], [vergiTutar], [vergiFaiz], [bakanlikID]) VALUES (13, N'Kaynak Kullanımı Destekleme Fonu', N'Kredi Kullananlar', 2000.0000, 100.0000, 13)
INSERT [dbo].[vergiler] ([vergiID], [vergiAdi], [vergiTipi], [vergiTutar], [vergiFaiz], [bakanlikID]) VALUES (14, N'Fon Payı', N'Sigortalılar', 1000.0000, 50.0000, 14)
INSERT [dbo].[vergiler] ([vergiID], [vergiAdi], [vergiTipi], [vergiTutar], [vergiFaiz], [bakanlikID]) VALUES (15, N'Şans Oyunları Vergisi', N'Oyuncular', 5000.0000, 250.0000, 15)
INSERT [dbo].[vergiler] ([vergiID], [vergiAdi], [vergiTipi], [vergiTutar], [vergiFaiz], [bakanlikID]) VALUES (16, N'Özel İletişim Vergisi', N'Aboneler', 1000.0000, 50.0000, 16)
INSERT [dbo].[vergiler] ([vergiID], [vergiAdi], [vergiTipi], [vergiTutar], [vergiFaiz], [bakanlikID]) VALUES (17, N'Elektrik Tüketim Vergisi', N'Aboneler', 2000.0000, 100.0000, 17)
INSERT [dbo].[vergiler] ([vergiID], [vergiAdi], [vergiTipi], [vergiTutar], [vergiFaiz], [bakanlikID]) VALUES (18, N'Belediye Gelirleri Vergisi', N'Belediyelerin Gelirleri Üzerinden Alınan Vergi', 3000.0000, 150.0000, 18)
INSERT [dbo].[vergiler] ([vergiID], [vergiAdi], [vergiTipi], [vergiTutar], [vergiFaiz], [bakanlikID]) VALUES (19, N'Borsa Payı', N'Borsada İşlem Yapanlar', 4000.0000, 200.0000, 19)
INSERT [dbo].[vergiler] ([vergiID], [vergiAdi], [vergiTipi], [vergiTutar], [vergiFaiz], [bakanlikID]) VALUES (20, N'Veraset ve İntikal Vergisi', N'Mirascılar', 5000.0000, 250.0000, 20)
INSERT [dbo].[vergiler] ([vergiID], [vergiAdi], [vergiTipi], [vergiTutar], [vergiFaiz], [bakanlikID]) VALUES (21, N'Gümrük Vergileri', N'İthalatçılar', 6000.0000, 300.0000, 21)
INSERT [dbo].[vergiler] ([vergiID], [vergiAdi], [vergiTipi], [vergiTutar], [vergiFaiz], [bakanlikID]) VALUES (22, N'Özel Tüketim Vergisi', N'Tüketici', 7000.0000, 350.0000, 22)
SET IDENTITY_INSERT [dbo].[vergiler] OFF
GO

# [FK_vatandas_vergiler]

In [0]:
ALTER TABLE [dbo].[vatandas]  WITH CHECK ADD  CONSTRAINT [FK_vatandas_vergiler] FOREIGN KEY([vergiID])
REFERENCES [dbo].[vergiler] ([vergiID])
GO
ALTER TABLE [dbo].[vatandas] CHECK CONSTRAINT [FK_vatandas_vergiler]
GO

# [FK_vergiler_bakanlik]

In [0]:
ALTER TABLE [dbo].[vergiler]  WITH CHECK ADD  CONSTRAINT [FK_vergiler_bakanlik] FOREIGN KEY([bakanlikID])
REFERENCES [dbo].[bakanlik] ([bakanlikID])
GO
ALTER TABLE [dbo].[vergiler] CHECK CONSTRAINT [FK_vergiler_bakanlik]
GO

# [dbo].[bakanAdd]

In [0]:
/****** Object:  StoredProcedure [dbo].[bakanAdd]    Script Date: 3.09.2023 08:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[bakanAdd]
@bakanlikAdi varchar(50),
@daireBaskani varchar(50),
@bakanlikCiro money,
@BakanlikMerkez varchar(50)
as begin
insert into bakanlik ([bakanlikAdi],[daireBaskani],[bakanlikCiro],[BakanlikMerkez]) values (@bakanlikAdi,@daireBaskani,@bakanlikCiro,@BakanlikMerkez)
end
GO

# [dbo].[bakanDelete]

In [0]:
/****** Object:  StoredProcedure [dbo].[bakanDelete]    Script Date: 3.09.2023 08:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[bakanDelete]
@bakanlikID int
as begin
delete from bakanlik where bakanlikID=@bakanlikID end
GO

# [dbo].[bakanList]

In [0]:
/****** Object:  StoredProcedure [dbo].[bakanList]    Script Date: 3.09.2023 08:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[bakanList]
as begin 
select * from bakanlik end
GO

# [dbo].[bakanUpdate]

In [0]:
/****** Object:  StoredProcedure [dbo].[bakanUpdate]    Script Date: 3.09.2023 08:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[bakanUpdate]
@bakanlikID int,
@bakanlikAdi varchar(50),
@daireBaskani varchar(50),
@bakanlikCiro money,
@BakanlikMerkez varchar(50)
as begin
update bakanlık set bakanlikAdi=@bakanlikAdi,daireBaskani=@daireBaskani,bakanlikCiro=@bakanlikCiro,BakanlikMerkez=@BakanlikMerkez where bakanlikID=@bakanlikID end
GO

# [dbo].[bakanVergi]

In [0]:
/****** Object:  StoredProcedure [dbo].[bakanVergi]    Script Date: 3.09.2023 08:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[bakanVergi]
as begin
select * from bakanlik b1 inner join vergiler v1 on b1.bakanlikID=v1.bakanlikID inner join vergiler v2 on v1.vergiID=v2.vergiID
end
GO

# [dbo].[bakver]

In [0]:
/****** Object:  StoredProcedure [dbo].[bakver]    Script Date: 3.09.2023 08:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[bakver]
as begin
select b1.bakanlikAdi,COUNT(vergiAdi) as 'Vergi Sayısı' from bakanlik b1 join  vergiler v1 on b1.bakanlikID=v1.bakanlikID group by b1.bakanlikAdi,vergiAdi
end
GO

# [dbo].[bavgciro]

In [0]:
/****** Object:  StoredProcedure [dbo].[bavgciro]    Script Date: 3.09.2023 08:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[bavgciro]
as begin 
select avg(bakanlikCiro) from bakanlik
end
GO

# [dbo].[bcirosira]

In [0]:
/****** Object:  StoredProcedure [dbo].[bcirosira]    Script Date: 3.09.2023 08:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[bcirosira]
as begin
select Avg(bakanlikCiro) as 'Bakanlık Cirolarının Ortalaması' from bakanlik
end
GO

# [dbo].[bmaxciro]

In [0]:
/****** Object:  StoredProcedure [dbo].[bmaxciro]    Script Date: 3.09.2023 08:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[bmaxciro]
as begin 
select top 1 * from bakanlik order by bakanlikCiro desc
end
GO

# [dbo].[bmersay]

In [0]:
/****** Object:  StoredProcedure [dbo].[bmersay]    Script Date: 3.09.2023 08:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[bmersay]
as begin
select BakanlikMerkez,COUNT(BakanlikMerkez) as 'Column1' from bakanlik group by BakanlikMerkez
end
GO

# [dbo].[bminciro]

In [0]:
/****** Object:  StoredProcedure [dbo].[bminciro]    Script Date: 3.09.2023 08:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[bminciro]
as begin 
select top 1 * from bakanlik order by bakanlikCiro 
end
GO

# [dbo].[bsumciro]

In [0]:
/****** Object:  StoredProcedure [dbo].[bsumciro]    Script Date: 3.09.2023 08:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[bsumciro]
as begin 
select sum(bakanlikCiro) from bakanlik
end
GO

# [dbo].[ciroBilgi]

In [0]:
/****** Object:  StoredProcedure [dbo].[ciroBilgi]    Script Date: 3.09.2023 08:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ciroBilgi]
as begin
select Avg(bakanlikCiro) as 'Bakanlık Cirolarının Ortalaması' from bakanlik
end
GO

# [dbo].[cLogin]

In [0]:
/****** Object:  StoredProcedure [dbo].[cLogin]    Script Date: 3.09.2023 08:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[cLogin]
@employeeUser varchar(50),
@employeePassword varchar(50)
as begin
select * from EmpLogin where employeeUser=@employeeUser and employeePassword=@employeePassword
end
GO

# [dbo].[kLogin]

In [0]:
/****** Object:  StoredProcedure [dbo].[kLogin]    Script Date: 3.09.2023 08:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[kLogin]
@KisiTelefon varchar(11),
@kisiTC int
as begin
select * from vatandas where KisiTelefon=@KisiTelefon and kisiTC=@kisiTC
end
GO

# [dbo].[vatandasAdd]

In [0]:
/****** Object:  StoredProcedure [dbo].[vatandasAdd]    Script Date: 3.09.2023 08:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[vatandasAdd]
@kisiTC int,
@KisiMeslek varchar(50),
@KisiAdres varchar(50),
@KisiTelefon varchar(11),
@KisiMail varchar(50),
@vergiID int
as begin
insert into vatandas([kisiTC],[KisiMeslek],[KisiAdres],[KisiTelefon],[KisiMail],[vergiID]) values (@kisiTC,@KisiMeslek,@KisiAdres,@KisiTelefon,@KisiMail,@vergiID)
end
GO

# [dbo].[vatandasDelete]

In [0]:
/****** Object:  StoredProcedure [dbo].[vatandasDelete]    Script Date: 3.09.2023 08:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[vatandasDelete]
@kisiNo int
as begin
delete from vatandas where kisiNo=@kisiNo end
GO

# [dbo].[vatandasList]

In [0]:
/****** Object:  StoredProcedure [dbo].[vatandasList]    Script Date: 3.09.2023 08:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[vatandasList]
as begin 
select * from vatandas end
GO

# [dbo].[vatandasUpdate]

In [0]:
/****** Object:  StoredProcedure [dbo].[vatandasUpdate]    Script Date: 3.09.2023 08:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[vatandasUpdate]
@kisiNo int,
@kisiTC int,
@KisiMeslek varchar(50),
@KisiAdres varchar(50),
@KisiTelefon varchar(11),
@KisiMail varchar(50),
@vergiID int
as begin
update vatandas set kisiTC=@kisiTC,KisiMeslek=@KisiMeslek,KisiAdres=@KisiAdres,KisiTelefon=@KisiTelefon,KisiMail=@KisiMail,vergiID=@vergiID where kisiNo=@kisiNo
end
GO

# [dbo].[vavg]

In [0]:
/****** Object:  StoredProcedure [dbo].[vavg]    Script Date: 3.09.2023 08:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[vavg]
as begin
select avg(vergiTutar) from vergiler 
end
GO

# [dbo].[vb]

In [0]:
/****** Object:  StoredProcedure [dbo].[vb]    Script Date: 3.09.2023 08:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[vb]
as begin 
select b1.bakanlikAdi,v1.vergiAdi from vergiler v1 join bakanlik b1 on v1.bakanlikID=b1.bakanlikID group by b1.bakanlikAdi,v1.vergiAdi
end
GO

# [dbo].[vergiDelete]

In [0]:
/****** Object:  StoredProcedure [dbo].[vergiDelete]    Script Date: 3.09.2023 08:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[vergiDelete]
@vergiID int
as begin
delete from vergiler where vergiID=@vergiID end
GO

# [dbo].[vergilerAdd]

In [0]:
/****** Object:  StoredProcedure [dbo].[vergilerAdd]    Script Date: 3.09.2023 08:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[vergilerAdd]
@vergiAdi varchar(50),
@vergiTipi varchar(50),
@vergiTutar money,
@vergiFaiz money,
@bakanlikID int
as begin
insert into vergiler([vergiAdi],[vergiTipi],[vergiTutar],[vergiFaiz],[bakanlikID]) values (@vergiAdi,@vergiTipi,@vergiTutar,@vergiFaiz,@bakanlikID)
end
GO

# [dbo].[vergilerList]

In [0]:
/****** Object:  StoredProcedure [dbo].[vergilerList]    Script Date: 3.09.2023 08:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[vergilerList]
as begin 
select * from vergiler end
GO

# [dbo].[vergilerUpdate]

In [0]:
/****** Object:  StoredProcedure [dbo].[vergilerUpdate]    Script Date: 3.09.2023 08:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[vergilerUpdate]
@vergiID int,
@vergiAdi varchar(50),
@vergiTipi varchar(50),
@vergiTutar money,
@vergiFaiz money,
@bakanlikID int
as begin
update vergiler set vergiAdi=@vergiAdi,vergiTipi=@vergiTipi,vergiTutar=@vergiTutar,vergiFaiz=@vergiFaiz,bakanlikID=@bakanlikID where vergiID=@vergiID
end
GO

# [dbo].[vfavg]

In [0]:
/****** Object:  StoredProcedure [dbo].[vfavg]    Script Date: 3.09.2023 08:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[vfavg]
as begin
select avg(vergiFaiz) from vergiler 
end
GO

# [dbo].[vfmax]

In [0]:
/****** Object:  StoredProcedure [dbo].[vfmax]    Script Date: 3.09.2023 08:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[vfmax]
as begin
select top 1 * from vergiler order by vergiFaiz desc
end
GO

# [dbo].[vfmin]

In [0]:
/****** Object:  StoredProcedure [dbo].[vfmin]    Script Date: 3.09.2023 08:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[vfmin]
as begin
select top 1 * from vergiler order by vergiFaiz 
end
GO

# [dbo].[vfsum]

In [0]:
/****** Object:  StoredProcedure [dbo].[vfsum]    Script Date: 3.09.2023 08:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[vfsum]
as begin
select sum(vergiFaiz) from vergiler 
end
GO

# [dbo].[vil]

In [0]:
/****** Object:  StoredProcedure [dbo].[vil]    Script Date: 3.09.2023 08:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[vil]
as begin
select KisiAdres,count(KisiAdres) as 'Column1' from vatandas group by KisiAdres
end
GO

# [dbo].[vList]

In [0]:
/****** Object:  StoredProcedure [dbo].[vList]    Script Date: 3.09.2023 08:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[vList]
as begin
select * from vatandas
end
GO

# [dbo].[vmax]

In [0]:
/****** Object:  StoredProcedure [dbo].[vmax]    Script Date: 3.09.2023 08:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[vmax]
as begin
select top 1 * from vergiler order by vergiTutar desc
end
GO

# [dbo].[vmes]

In [0]:
/****** Object:  StoredProcedure [dbo].[vmes]    Script Date: 3.09.2023 08:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[vmes]
as begin
select KisiMeslek,count(KisiMeslek) as 'Column1' from vatandas group by KisiMeslek
end
GO

# [dbo].[vmin]

In [0]:
/****** Object:  StoredProcedure [dbo].[vmin]    Script Date: 3.09.2023 08:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[vmin]
as begin
select top 1 * from vergiler order by vergiTutar 
end
GO

# [dbo].[vsum]

In [0]:
/****** Object:  StoredProcedure [dbo].[vsum]    Script Date: 3.09.2023 08:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[vsum]
as begin
select sum(vergiTutar) from vergiler 
end
GO

# [dbo].[vv]

In [0]:
/****** Object:  StoredProcedure [dbo].[vv]    Script Date: 3.09.2023 08:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[vv]
as begin
select * from bakanlik b1 inner join vergiler v1 on b1.bakanlikID=v1.bakanlikID ORDER BY bakanlikCiro DESC
end
GO

# [dbo].[vwv]

In [0]:
/****** Object:  StoredProcedure [dbo].[vwv]    Script Date: 3.09.2023 08:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[vwv]
as begin
select v1.kisiTC,v2.vergiAdi from vatandas v1 join vergiler v2 on v1.vergiID=v2.vergiID group by v1.kisiTC,v2.vergiAdi
end
GO

# [bakan]

In [0]:
USE [master]
GO

In [0]:
ALTER DATABASE [bakan] SET  READ_WRITE 
GO